<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="A_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS, GMT+8} [%thread] %-5level %c{1} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="A_STDOUT"/>
    </root>

</configuration>