<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
	    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="test" id="testid" version="0.0.0"  owner="test1" organization="ivan" />

    <dubbo:registry address="127.0.0.1:2181" protocol="zookeeper" file="/data/dubbo/test/" check="false" />

    <dubbo:protocol name="dubbo" port="21880" />

    <dubbo:annotation package="com.ivan.study.hystrix.api" />





</beans>